/* ----------SOMMAIRE---------- */

/* Elements généraux	- L 18 - */
/* Header-navigation	- L 89 - */
/* Présentation des produits (page index)	- L 123 - */
/* Page produit	- L 154 - */
/* Page Panier	- L 178 - */
/* Footer	- L 325 - */
/* MEDIA QUERIES	- L 362 - */
		/* Produit	- L 365 - */
		/* Panier	- L 375 & 412- */
		/* Footer	- L 398 - */



/****** VARIABLES ******/

$color1: #ba7894; 
$color2: #8e5bfb;
$color3: #F1ECF0;
$color4: #c77960;
$color5: #f4e6d9;


/****** ELEMENTS GENERAUX ******/

.page__entiere{
	padding:  0;
	max-width: 3000px;
	font-family: 'Roboto Condensed', sans-serif;
}

main {
	margin : 0 0 40px 0;
}

section {
	margin : 40px 5%;
}


h2, legend {
	font-weight: 300;
}

a {
	color: black;
  text-decoration: none;
  &:hover {
  	color: $color1;
  }
}

ul {
  list-style-type: none;
  padding: 40;
}

button, input, select {
	border: 2px solid $color3;
	border-radius: 4px;
}

.btn-sm {
	background-color: $color3;
	border: 2px solid $color1;
  color: $color1;
  font-size: 1rem;
  font-weight: bold;
	&:hover {
		background-color: darken($color3,15);
	}

}

label {
	display: inline;
}
.text-underline {
	text-decoration: underline;
}

.text-bold {
	font-weight: bold;
}


/****** HEADER - NAVIGATION ******/

.navbar {
	padding : 0;
	&-brand {
		padding : 0;
		& img {
			max-width: 130px;
			position : relative;
			right: 12px;
		}
	}
	&-expand-lg .navbar-collapse {
		justify-content: flex-end;
	}
	.nav-item {
		line-height: 3;
		.nav-link, .nav-link:focus {
			color: $color1;
		}
		.nav-link:hover {
			color: $color2;
		}
	}
}

.banniere {
	background-color: $color5; 
	&__presentation {
		padding: 90px 5%;
	}
}


/****** PAGE PRESENTATION DES PRODUITS (INDEX) ******/

.articles {
	display: flex;
	flex-wrap: wrap;
	.card {
		width: 18rem;
		margin: 40px 10px;
		.lien-article:hover {
			color: black;
			cursor: auto;
		}
	}
	.div-image {
		height: 200px;
		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 10%;
		}
	}
	.infos-produit__nom {
		font-weight: bold;
	}	
	.infos-produit__prix {
		font-style: italic;
	}
}


/******PAGE PRODUIT ******/

.prix-produit {
	font-style : italic;
	font-size: 2rem;
	& + .card {
		max-width: 800px;
		margin: auto;
		text-align: justify;
		& button {
			width: 50%;
			margin: auto;
		}
	}
}

.boutonsLiens{
	max-width: 800px;
	margin: auto;
	display: flex;
	justify-content: space-around;
}	


/******  PAGE PANIER ******/

.blocPanier {
	width: 90%;
	margin:  auto;
	.btn-produits {
		display: flex; 
		justify-content: center;
	}
	.panier {
		padding: 0;
		.panier-item {
			padding: 1em;
			border: 2px solid $color1;
			border-radius: 10px;
			box-shadow: lightgrey 6px 6px 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin: auto;
			&__img {
				height: 100px;
				width: 100px;
				min-width: 100px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50% 10%;
					border-radius:5px;
				}
			}
			&__prix-unit, &__prix-total, &__nom, &__qte {
				display: flex;
				align-items: center;
				padding: 1em;
			}
			&__prix-unit, &__prix-total{
				width: 10%;
				min-width: 70px;
			}
			&__nom {
				width: 20%;
				min-width: 100px;
				h2 {
					font-size: 1.2rem;
				}
			}
			&__qte {
				flex-direction: column;
				justify-content: center;
				width: 20%;
				min-width: 90px;
				&__input {
					display: flex;
					flex-direction: column;
					align-items: center;
					.qte-plus-moins{
						display: flex;
						align-items: center;
						.qte-plus, .qte-moins {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 20px;
							height: 20px;
							border-radius: 50%;
							cursor : pointer;
							p {
								margin: 0;
							}
						}
						input {
							width: 25px;
							margin : 0.5em;
						}
					}
					
				}
			}
		}
		.ligne {
			width: 1px;
			height: 100px;
			background-color: $color1;
		}
	}
	.total {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    &-panier, .vide-panier, .btn-poursuivre {
    	margin: auto;
    }
		&-panier {
		padding: 1em;
		background-color: $color3;
    width: 100%;
		min-width: 50%;
		border-radius: 10px;
		box-shadow: lightgrey 6px 6px 10px;
		display: flex;
		justify-content: space-between;
			p {
				margin-bottom: 0;
				font-size: 2.5em;
				color: $color1; 
			}
		}	

	}
	form {
		fieldset {
			border: 2px groove $color1;
			border-radius: 10px;
		}
		legend {
			float : none;
			width: auto;
			padding : 0 0.2em;
		}
		#mlle, #mr {
			margin-left: 2em;
		}
		#lastName:invalid, #firstName:invalid, #address:invalid, #cp:invalid, #city:invalid, #tel:invalid, #email:invalid, #checkbox:invalid {
			box-shadow: 0 0 5px red;
		}
		#lastName:valid, #firstName:valid, #address:valid, #cp:valid, #city:valid, #tel:valid, #email:valid, #checkbox:valid {
			box-shadow: 0 0 5px green;
		}
	}
	#validation, #checkbox, button {
		cursor:  pointer;
	}
	.boutons {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		margin-top:  2em;
	}
}


/****** FOOTER ******/

.footer {
	padding: 10px 10%;
    background: $color3;
    & a:hover {
    	color:  $color2;
    }
    &__social {
		font-size: 5rem;
    	display: flex;
    	justify-content: space-between;
    	margin: auto;
    	padding-top: 10px;
    	.fab {
			-webkit-background-clip:  text;
			-moz-background-clip:  text;
			-webkit-text-fill-color: transparent;
			background-image: linear-gradient(to right, $color4, $color2) ;
		}
	}
	&__liens {
		h2 {
			margin-top: 2em;
		}
		ul {
			padding: 0;
			text-align: center;
		}
		li {
			font-size: 0.9em;
			margin-bottom: 1em;
		}
	}
}


/****** MEDIA QUERIES ******/

@media screen and (min-width: 768px) 	/* min-width= taille iPad  */ {
	
	/* Page produit */
	.prixProduit .divImage {
		height: 600px;
		&__img {
			max-height: 100%;
			object-fit: contain;
		}
	}

	/* Page panier */
	.blocPanier{
		.total {
			height: 100px;
			flex-wrap: nowrap;
			flex-direction: row;
			.total-panier {
			width: 50%;
			}
		}
	}

	#formulaire {
		width : 70%;
	}

	.m-left {
		margin-left: 1em;
	}

	.nomPrenom, .cpVille {
		display: flex;
	}
	
	/* Footer */
			/* Le footer est organisé en 3 colonnes au lieu de 3 blocs les uns au dessus des autres  */
	.footer {
		& nav {
			display: flex;
			justify-content: space-between;
		}
		&__social {
			width: 30%;	
    		font-size: 2.5rem;
		}
	}
} 

@media screen and (min-width: 1030px) {

	/* Panier */
	.blocPanier {
		width: 50%;
	}

	#formulaire {
		width: 50%;
	} 
} 

